<form [formGroup]="myForm" novalidate>
  <my-date-picker name="mydate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"
                  formControlName="myDate"></my-date-picker>
                  <button class="btn btn-block hidden" type="submit">save</button>
                </form>

<form [formGroup]="firstForm" (ngSubmit)="onAddFirstOption()">
  <input type="text" placeholder="First options" class="form-control" formControlName="first">
  <button class="hidden" type="submit"></button>
</form>

<ul class="list-unstyled">
  <li *ngFor="let option of first; let i = index">
    <span class=name>{{option}}</span>
    <span class="remove" (click)="removeFirstOption(i)">
      <i class="fa fa-times"></i>
    </span>
  </li>
</ul>

<form [formGroup]="secondForm" (ngSubmit)="onAddSecondOption()">
  <input type="text" placeholder="Second options" class="form-control" formControlName="second">
  <button class="hidden" type="submit"></button>
</form>

<ul class="list-unstyled">
  <li *ngFor="let option of second; let i = index">
    <span class=name>{{option}}</span>
    <span class="remove" (click)="removeSecondOption(i)">
      <i class="fa fa-times"></i>
    </span>
  </li>
</ul>
<button class="btn btn-default" (click)="saveOptions()">save</button>
