<form [formGroup]="orderForm" (ngSubmit)="onSubmit(order)">
  <div class="date-wrapper">
    <div class="week-day">{{order.date | date: "EEEE"}}</div>
    <div class="date">
        <i class="fa fa-calendar-o"></i>
        <span>{{order.date | date}}</span>
    </div>
  </div>
  <div formGroupName="first">
    <select class="form-control" *ngIf="order.options.first.length">
      <option *ngFor="let option of order.options.first;">{{option}}</option>
    </select>
    <div class="input-wrapper">
      <span>First</span>
      <input type="text" id="first" class="form-control custom" type="number" min="0" value="{{order.order.first.value}}" formControlName="value">
    </div>
  </div>
  <div formGroupName="second">
    <select class="form-control" *ngIf="order.options.second.length">
      <option *ngFor="let option of order.options.second;">{{option}}</option>
    </select>
    <div class="input-wrapper">
        <span>Second</span>
        <input type="text" id="second" class="form-control custom" type="number" value="{{order.order.second.value}}" formControlName="value">
    </div>
  </div>
  <div class="price">
    {{order.order.total}} MDL
  </div>
  <button class="btn btn-block btn-save" type="submit" [disabled]="!this.orderForm.valid">save</button>
</form>
