:host {
  color: #fff;
}

.tab-nav {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255, 0.4);

  .nav-item {
    flex: 1;
    line-height: 50px;
    text-align: center;

    &:hover, &.active {
      cursor: pointer;
      background-color: #7fd344;
      color: #fff;
    }
  }
}

.orders-table {
  display: none;

  &.active {
    display: block;
  }

  .order-item {
    display: flex;
    line-height: 30px;

    &.payed {
      background-color: #7fd344;
    }

    &.head {
      &:hover {
        background: transparent;
        cursor: default;
      }
    }

    div {
      flex: 1;
      padding: 0 10px;
    }

    &:hover {
      background-color: rgba(255,255,255, 0.4);
      cursor: pointer;
    }
  }

  .empty {
    text-align: center;
    font-style: italic;
  }
}

.total-row {
  display: none;
  background-color: #d0a72f;
  font-weight: bold;
  line-height: 30px;
  margin-top: 20px;

  &.active {
    display: flex;
  }
  div {
    flex: 1;
    padding: 0 10px;
  }
}

.remodal {
  max-width: 400px;
}
