@import '../shared/responsive.scss';

:host {
  display: flex;
  align-items: center;
  height: 100%;
}

.box {
  padding: 10px 25px;

  @include breakpoint(book) {
    padding: 10px;
  }

  @include breakpoint(sm) {
    padding: 0 20px;
  }
}

.white-wrapper {
  background-color: #fff;
  padding: 40px 0;
  width: 100%;

  @include breakpoint(sm) {
    background-color: transparent;
    color: #fff;
    padding: 0;
  }

  @include breakpoint(book) {
    padding: 10px 0;
  }
}

.order-list-wrapper {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;
}
