@import './shared/responsive.scss';

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../assets/img/login-bg.jpg') center center no-repeat;
  background-size: cover;

  @include breakpoint(sm) {
    display: block;
    height: 100%;
  }

  .main-content {
    flex: 1;
  }
}
