@import './shared/responsive.scss';

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../assets/img/login-bg.jpg') center center no-repeat;
  background-size: cover;

  .main-content {
    flex: 1;
    overflow: auto;
  }
}

.admin-menu {
  ul {
    text-align: right;
    margin: 0;

    li {
      float: none;
      display: inline-block;

      a {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        padding: 20px;
        display: inline-block;
        cursor: pointer;

        &:hover {
          text-decoration: none;
          color: #7fd344;
        }
      }
    }
  }
}
