/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'app/shared/font-awesome.min.css';
@import 'app/shared/responsive.scss';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

* {
  outline: none 0 !important;
}

.simple-notification .sn-title  {
  font-size: 14px !important;
  line-height: 18px !important;
  display: flex;
  align-items: center;
  min-height: 50px;
}
app-signin, app-signup, app-forgot, app-reset-passwod {

  @include breakpoint(xs) {
    padding: 20px;
  }

  .form-wrapper {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;

    @include breakpoint(xs) {
      max-width: 100%;
    }

    .flex-row {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;

      a {
        color: rgba(255,255,255, 0.8);

        &:hover {
          color: #7fd344;
          text-decoration: none;
          transition: all 0.3s ease-out;
        }
      }
    }

    .img-ico {
      margin: 0 auto;
      display: block;
      margin-bottom: 70px;
      max-width: 100px;

      @include breakpoint(xs) {
        margin-bottom: 20px;
      }

    }

    .form-group {
      position: relative;

      .error-msg {
        position: absolute;
        right: 30px;
        bottom: -25px;
        color: #F44336;
      }
    }

    label {
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(255,255,255, 0.8);
      padding-left: 30px;
      margin-bottom: 15px;

      @include breakpoint(xs) {
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 14px;
      }
    }

    .btn {
      line-height: 55px;
      display: block;
      border-radius: 50px;
      width: 100%;
      background-color: transparent;
      border: 2px solid #7fd344;
      color: #7fd344;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.3s ease-out;

      @include breakpoint(xs) {
        line-height: 40px;
      }

      &:hover {
        background-color: #7fd344;
        color: #fff;
      }

      &.btn-login {
        margin: 30px 0 0;
      }
    }

    .form-control {
      border: 3px solid transparent;
      background-color: rgba(255,255,255, 0.4);
      height: 55px;
      border-radius: 50px;
      margin-bottom: 45px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      padding-left: 30px;

      @include breakpoint(xs) {
        height: 40px;
        margin-bottom: 20px;
      }

      &:focus {
        background-color: rgba(255,255,255, 0.6);
        box-shadow: none;
      }

      &.password {
        margin-bottom: 25px;
      }

      &.ng-invalid.ng-touched {
        border-color: #F44336;
      }
    }
  }
}
